<!Doctype html>

<html>
<head> 
<title> MetFlux Assignment </title>

<style>
body {
  background-color: linen;
}

h1 {
  color: black;
  margin-left: 40px;
}

input {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      background: #15485f;
      font-size: 16px;
      color: #fff;
      }
  
</style>


</head>
   
  <body> 
   <h1> MetFlux Assignment </h1>
   <form action="/webcam">
    <input type="submit" value="Go to Webcam" />
   </form>
   <br>
   <form action="/upload">
    <input type="submit" value="Go to Upload and Face Detection" />
   </form>
   <br>
   <form action="/video">
    <input type="submit" value="Go to video" />
   </form>
   
  </body>
   
</html>